body {
    width: 1021px;
    margin: auto;
}

div#header {
    position: relative;
    height: 141px;
    background: #fff url("../img/bg_header.png") repeat-x;
    margin-bottom: 5px;
}

ul#header-menu {
    position: absolute;
    right: 25px;
    top: 5px;
}

ul#header-menu li {
    float: left;
    padding: 2px 5px;
}

ul#header-menu li a {
    color: #fff;
}

div#header-logo {
    background-image: url("../img/header_logo.png");
    height: 83px;
    width: 398px;
    position: absolute;
    top: 50%;
    margin-top: -60px;
    margin-left: 30px;
}

ul#menu {
  float: left;
  position: absolute;
  bottom: 0;
  background-color: #ccc;
}

ul#menu li {
    width: 160px;
    float: left;
    text-align: center;
    margin-right: 2px;
    font-weight: bold;
    font-size: 14px;
}

ul#menu li.last {
    margin-right: 0;
    width: 211px;    
}

ul#menu li a {
    background-image: url("../img/bg_menu_white.png");
    display: block;
    padding: 8px 0;
    color: #cc0000;
}

ul#menu li a:hover {
    background-image: url("../img/bg_menu_red.png");
    color: #fff;
    text-decoration: none;
}

div#slot-1 {
    margin-bottom: 5px;
}

div#slot-1 .search {
    background-image: url("../img/reservation_cln.png");
    height: 241px;
    width: 354px;
    float: left;
    margin-right: 2px;
}

div#slot-2 {
    background-image: url("../img/offre_villes.png");
    height: 133px;
    text-align: right;
    padding: 26px 15px;
    margin-bottom: 5px;
}

div#slot-3 {
    width: 100%;
    overflow: auto;
    margin-bottom: 5px;
}

div#slot-3 .newsletter {
    float: left;
    width: 190px;
    margin-right: 4px;
}

div#slot-3 .offre-1 {
    float: left;
    width: 272px;
    margin-right: 4px;
}

div#slot-3 .offre-2 {
    float: left;
    width: 274px;
    margin-right: 4px;
}

div#slot-3 .offre-3 {
    float: left;
    width: 273px;
}

div#footer {
    height: 77px;
    background-image: url("../img/bg_footer.png");
}

div#footer .copyright {
    position: absolute;
    right: 150px;
    margin-top: 30px;
    color: #fff;
}

div#footer-logo {
    background-image: url("../img/footer_logo.png");
    width: 278px;
    height: 59px;

    position: absolute;
    margin-top: 10px;
    margin-left: 30px;
}

.sep {
    color: #fff;
}

.row {
    width: 170px;
    float: left;
    margin-left: 5px;
    margin-bottom: 5px;
}

.row label {
    width: 160px;
    float: left;
    display: block;
}

.row input {
    width: 135px;
}

.row-radio {
    margin-left: 5px;
    width: 100px;
    float: left;
}

.row-select {
    margin-left: 5px;
    width: 110px;
    float: left;    
}

.row-select label {
    display: block;
}

.row-select select {
    width: 110px;
}

.row-info {
    color: #6B9DD9;
    font-size: 11px;
    margin: 5px;
    float: left;
    width: 150px;
}

.row-submit {
    width: 150px;
    float: right;
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
}

.row-sep {
    line-height: 8px;
    clear: both;
}

.list-results {
    width: 100%;
    overflow: auto;
}

.list-results .item {
    text-align: center;
    width: 100px;
    background-color: #A4C8F2;
    margin: 10px;
    padding: 10px;
    float: left;
}

.list-results .item  li {
    margin: 5px 0;
}

.search .tab-1 {
    padding: 8px;
    font-weight: bold;
}

#client div {
    margin: 15px 0;
}

#client label {
    width: 160px;
    float: left;
}

fieldset {
    margin-bottom: 20px;
}

fieldset legend {
    font-size: 14px;
    font-weight: bold; 
}

fieldset.form {
    padding: 10px;
    border: 1px solid #ccc;
    background: #eee;
}

div.form-row {
    width: 100%;
    overflow: auto;
    margin: 10px 0; 
}

div.form-row .label {
    display: block;
    width: 240px;
    float: left;
    font-weight: bold;
}

.airport-infos {
    font-weight: bold;
}