{% extends "FrontendWebBundle::layout.html.twig" %}

{% block content %}
<div class="content">
    <form action="{{ path('FrontendWebBundle_client_subscribe') }}" method="post" {{ form_enctype(form) }}>
        <fieldset class="personal-infos">
            <legend>Informations personnelles</legend>
            {{ form_widget(form) }}
        </fieldset>

        <fieldset class="passagers-infos">
            <legend>Passagers</legend>

        </fieldset>
        <div style="clear: both; text-align: right;">
            <input type="submit" value="{{ 'Save your infos'|trans }}" class="button" />
        </div>
    </form>
</div>
{% endblock %}